SERVICE_ADDR=:8080

APP_NAME=celebut-api
APP_VERSION=1.0.0
HTTP_PORT=8080
LOG_LEVEL=debug
#CONFIG_ENV=https://celebut.s3.eu-west-2.amazonaws.com/configs/config.yml
GIN_MODE=debug
POSTGRES_USER=postgres
POSTGRES_PASSWORD=root
POSTGRES_DB=celebut_db
PG_POOL_MAX=2
PG_URL=postgres://postgres:root@database:5432/celebut_db

TOKEN_SECRET=samplesecretineedtotestjwt
###> development variables ###
# Should not conflict with SERVICE_ADDR
PORT=8083
APP_PORT=8080
DEBUG_PORT=40000
