.idea/
.vscode/

vendor/

.env
gin-bin
__debug_bin

# Do not allow security credentials in repo.
.netrc
output

#Mac
.DS_Store
docs/.DS_Store

# Coverage files
**/cover.out
bin/

#go
go.work*
backend/*/tmp

.venv/
__pycache__/
.pytest_cache/
.mypy_cache/
.ipynb_checkpoints/
ai-service/.venv/
