export SERVICE_ADDR=:8080

export APP_NAME=celebut-api
export APP_VERSION=1.0.0
export HTTP_PORT=8080
export LOG_LEVEL=debug
#CONFIG_ENV=https://celebut.s3.eu-west-2.amazonaws.com/configs/config.yml
export GIN_MODE=debug
export POSTGRES_USER=postgres
export POSTGRES_PASSWORD=root
export POSTGRES_DB=celebut_db
export PG_POOL_MAX=2
export PG_URL=postgres://postgres:root@127.0.0.1:5432/celebut_db

export TOKEN_SECRET=samplesecretineedtotestjwt
export OTP_SECRET=samplesecretineedtotestOTP
###> development variables ###
# Should not conflict with SERVICE_ADDR
export PORT=8083
export APP_PORT=8080
export DEBUG_PORT=40000
